body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://plus.unsplash.com/premium_photo-1676325101744-ce4a45a331c7?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bWVkaWNhbHxlbnwwfHwwfHx8MA%3D%3D');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating the image */
      
      
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    background-color: rgb(183, 187, 186);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #6f9ac7;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
}

input, select, button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#chat-box {
    height: 300px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
    background-color: #f9f9f9;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #5385ba;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Hover effect for buttons */
.btn:hover {
    background-color: #0056b3;
}